@use "../utils" as *;

// Video Button
@keyframes animate-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8),
      0 0 0 0 rgba(255, 255, 255, 0.8);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 0 rgba(255, 255, 255, 0.8);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}

// Hero Animation
@keyframes circle-animations {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes circle-animations {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes downup {
  0% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  100% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}

@keyframes downup {
  0% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  100% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes toLeftFromRight {
  49% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  51% {
    opacity: 1;
  }
}

@keyframes toLeftFromRight {
  49% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  51% {
    opacity: 1;
  }
}

// @keyframes movingleftright {
//   0% {
//     -webkit-transform: translateX(0) translateY(0);
//     transform: translateX(0) translateY(0);
//   }

//   40% {
//     -webkit-transform: translateX(50px) translateY(-50px);
//     transform: translateX(50px) translateY(-50px);
//   }

//   80% {
//     -webkit-transform: translateX(100px);
//     transform: translateX(100px);
//   }

//   100% {
//     -webkit-transform: translateY(0) translateX(0);
//     transform: translateY(0) translateX(0);
//   }
// }

// @-webkit-keyframes movingleftright {
//   0% {
//     -webkit-transform: translateX(0) translateY(0);
//     transform: translateX(0) translateY(0);
//   }

//   40% {
//     -webkit-transform: translateX(50px) translateY(-50px);
//     transform: translateX(50px) translateY(-50px);
//   }

//   80% {
//     -webkit-transform: translateX(100px);
//     transform: translateX(100px);
//   }

//   100% {
//     -webkit-transform: translateY(0) translateX(0);
//     transform: translateY(0) translateX(0);
//   }
// }

@keyframes bloom1 {
  0% {
    transform: scale(0.6);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
  }
}

@-webkit-keyframes bloom1 {
  0% {
    transform: scale(0.6);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
  }
}

@-moz-keyframes bloom1 {
  0% {
    transform: scale(0.6);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
  }
}

@-ms-keyframes bloom1 {
  0% {
    transform: scale(0.6);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes bloom2 {
  0% {
    transform: scale(0.6);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
  }
}

@-webkit-keyframes bloom2 {
  0% {
    transform: scale(0.6);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
  }
}

@-moz-keyframes bloom2 {
  0% {
    transform: scale(0.6);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
  }
}

@-ms-keyframes bloom2 {
  0% {
    transform: scale(0.6);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes scrolltopicon {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}

@-webkit-keyframes scrolltopicon {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}

@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) translateY(-10px) scale(1);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) translateY(10px) scale(1);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) scale(1);
  }
}
