@use "../utils" as *;

.ts-btn {
  position: relative;
  background-color: var(--ts-theme-color);
  color: #0a1425;
  padding: 10px 36px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--ts-font-body);
  display: inline-block;
  overflow: hidden;
  z-index: 5;
  &-2 {
    padding: 14px 40px;
  }

  &-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    & span {
      display: block;
      transition: 0.2s ease-in-out;
    }
  }

  &-animate-y-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    transform: translateY(100%);
  }

  &:hover {
    background: var(--ts-orange-color);
    color: #0a1425;
    & .ts-btn-animate-y-1 {
      opacity: 1;
      transform: translateY(-100%);
    }
    & .ts-btn-animate-y-2 {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
