@use "../../utils" as *;

.ts-header-area {
  position: relative;
  padding: 32px 0;
  background: transparent;
}

.ts-transparent-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

.ts-header-logo {
  margin-right: 62px;
}

.ts-header-menu {
  & ul {
    display: flex;
    align-items: center;
    & li {
      list-style: none;
      &:hover {
        & a {
          color: var(--ts-theme-color);
        }
      }
      & a {
        color: var(--ts-white);
        font-size: 15px;
        font-weight: 500;
        font-family: var(--ts-font-menu);
        margin-right: 40px;
        @include transition(0.3s);
      }
    }
  }
}

.ts-offcanvas-toogle {
  & i {
    font-size: 25px;
    color: var(--ts-white);
    cursor: pointer;
  }
}

// Sticky Menu
.ts-sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 100;
  background: var(--ts-common-black);
  -webkit-animation: 0.7s ease-in-out 0s normal none 1 running tsfadeInDown;
  animation: 0.7s ease-in-out 0s normal none 1 running tsfadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  border-radius: 0;
}

.tsfadeInDown {
  animation: tpfadeInDown 1s ease-out forwards;
}

@keyframes tsfadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
