@use "../../utils" as *;

.ts-footer-bg {
  position: relative;
  z-index: 1;
  background: url(..//..//..//img/footer/footer.jpg) no-repeat center center /
    cover;
  display: block;
  margin-bottom: -40px;
}

.tsfooter {
  &:hover {
    & .tsfooter__icon {
      & img {
        -webkit-animation: shake 0.3s linear;
        animation: shake 0.3s linear;
      }
    }
  }
  &__icon {
    & img {
      @include transition(0.3s);
    }
  }
  &__content {
    & h4 {
      color: var(--ts-white);
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    & span {
      color: #f7f8f9;
    }
  }
}

.ts-footer-bottom {
  & .ts-footer-social {
    & ul {
      display: flex;
      align-items: center;
      justify-content: center;
      & li {
        list-style: none;
        margin: 0 12px;
        & a {
          border: 1px solid var(--ts-white);
          border-radius: 100%;
          padding: 16px;
          text-align: center;
          @media #{$xs-m} {
            padding: 14px;
          }
          &:hover {
            & img {
              -webkit-animation: 0.2s toLeftFromRight forwards;
              animation: 0.2s toLeftFromRight forwards;
            }
          }
          & img {
            position: relative;
            margin-top: -3px;
            @include transition(0.3s);
          }
        }
      }
    }
  }

  & .ts-footer-text {
    & p {
      font-size: 21px;
      text-transform: capitalize;
      color: var(--ts-white);
      letter-spacing: 1.5px;
      @media #{$xs-m} {
        font-size: 18px;
      }
      & a {
        color: var(--ts-theme-color);
      }
    }
  }
}
