:root {
  --ts-theme-color: #febf00;
  --ts-theme-color-2: #b52b1d;
  --ts-heading-color: #181818;
  --ts-heading-color-2: #bd1f17;
  --ts-heading-color-3: #0a1425;
  --ts-body-color: #333333;
  --ts-body-color-2: #f7f8f9;
  // --ts-overlay-color: #001c52;
  --ts-black: black;
  --ts-common-black: #0a0e19;
  --ts-white: white;
  --ts-gray-color: #f6f6f6;
  --ts-gray-color-2: #9b9b9b;
  --ts-gray-color-3: #d3d3d3;
  --ts-gray-color-4: #c5c5c5;
  --ts-border-color: #727272;
  --ts-orange-color: #ffa013;
}
