$font-url: "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

:root {
  --ts-font-menu: "Raleway", sans-serif;
  --ts-font-heading: "Bebas Neue", sans-serif;
  --ts-font-body: "Roboto", sans-serif;
}
