@use "../../utils" as *;

.ts-about-area {
  position: relative;
  overflow: hidden;
}
.ts-about-img-2 {
  position: absolute;
  right: -10%;
  bottom: 10%;
  z-index: 1;
  animation: downup 3s infinite ease-in-out alternate;
  -webkit-animation: downup 3s infinite ease-in-out alternate;
  @media #{$lg-m} {
    right: -306%;
    bottom: 10%;
  }
  @media #{$md-m} {
    display: none;
  }
}

.ts-about-thumb {
  position: relative;

  & img {
    width: 100%;
  }

  & .ts-about-experience {
    position: absolute;
    padding: 20px 22px;
    border-radius: 20px;
    top: 6%;
    left: 4%;
    background: var(--ts-white);
    @media #{$xs-m} {
      top: 4%;
      left: 3%;
      padding: 12px 14px;
    }
    & .ts-about-experience-left {
      & span {
        position: absolute;
        font-size: 26px;
        font-weight: 700;
        top: 40%;
        left: 20.5%;
      }
    }
    & .ts-about-experience-right {
      & span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

.nav {
  border-bottom: 1px solid var(--ts-theme-color-2);
}
.nav-pills .nav-link {
  border-radius: 0;
  color: #333333;
  font-size: 15px;
  font-weight: 500;
  margin-right: 16px;
}

.nav-pills .nav-link.active {
  background: var(--ts-theme-color-2);
}

.ts-about-btn-call {
  display: flex;
  align-items: center;
  @media #{$xs-m} {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 18px;
  }
}

.ts-about-call {
  &:hover {
    & img {
      -webkit-animation: shake 0.3s linear;
      animation: shake 0.3s linear;
    }
  }
  & img {
    margin-right: 4px;
    @include transition(0.3s);
  }
  & span {
    font-size: 18px;
    font-weight: 700;
  }
}

.tsabout {
  position: relative;
  z-index: 5;
  &:hover {
    & .tsabout__icon {
      & img {
        -webkit-animation: shake 0.3s linear;
        animation: shake 0.3s linear;
      }
    }
  }
  &__icon {
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 90px;
    background: var(--ts-white);
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 15px;
    & img {
      @include transition(0.3s);
    }
  }
}
