@use "../../utils" as *;

.ts-blog-area {
  position: relative;
  background: #fbf7f2;
  @media #{$lg-m} {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @media #{$xs-m} {
    padding-top: 35px;
    padding-bottom: 55px;
  }
}

.tsblog {
  &__content {
    position: relative;
    margin-bottom: 20px;
    @media #{$xs-m} {
      margin-bottom: 40px;
    }

    &:hover {
      .blog-content-display {
        bottom: -28px;
        opacity: 1;

        p.blog-desc {
          height: 78px;
        }

        @media #{$xs-m} {
          bottom: -56px;
          opacity: 1;
        }
      }
    }

    img {
      position: relative;
      border-radius: 20px;
    }

    .blog-content-display {
      position: absolute;
      z-index: 4;
      width: 80%;
      background: var(--ts-white);
      padding: 30px 45px;
      border-radius: 15px;
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
      bottom: -28px;
      left: 10%;
      opacity: 1;
      transition: all 0.5s ease-in-out;

      @media #{$xs-m} {
        padding: 22px 12px 10px;
      }

      h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 100%;
        a {
          line-height: 30px;
          &:hover {
            color: var(--ts-theme-color);
          }
        }
        @media #{$xs-m} {
          font-size: 25px;
        }
      }

      p.blog-desc {
        height: 0px;
        transition: 1s;
        overflow: hidden;
        margin: 0;
        padding: 0;

        @media #{$xs-m} {
          display: none;
        }
      }

      @media #{$xs-m} {
        bottom: -56px;
        opacity: 1;
      }

      .blog-content-upper {
        display: flex;
        align-items: center;
        justify-content: start;
        p {
          margin-right: 18px;
        }
        @media #{$xs-m} {
          display: grid;

          p {
            margin-bottom: 6px;
          }
        }
        @media (max-width: 440.98px) {
          display: none;
        }
      }
    }
  }
}
