@use "../../utils" as *;

.ts-testimonial-area {
  position: relative;
  overflow: hidden;
  z-index: 2;
  @media #{$lg-m} {
    padding-top: 120px;
    padding-bottom: 150px;
  }
  @media #{$xs-m} {
    padding-top: 35px;
    padding-bottom: 120px;
  }
}

.ts-testimonial-bg-img1 {
  position: absolute;
  top: 15%;
  left: -8%;
  z-index: -1;
  animation: downup 3s infinite ease-in-out alternate;
  -webkit-animation: downup 3s infinite ease-in-out alternate;
  @media #{$xxl-m} {
    top: 20%;
    left: -12%;
  }
  @media #{$xl-m} {
    top: 28%;
    left: -12%;
  }
  @media #{$md-m} {
    display: none;
  }
}

.ts-testimonial-bg-img2 {
  position: absolute;
  right: -7.4%;
  bottom: 5%;
  animation: downup 5s infinite ease-in-out alternate;
  -webkit-animation: downup 5s infinite ease-in-out alternate;
  @media #{$lg-m} {
    right: -10%;
    bottom: 10%;
  }
  @media #{$md-m} {
    display: none;
  }
}

.ts-testimonial-content {
  position: relative;
  background: var(--ts-theme-color);
  padding: 95px 95px 75px;
  width: 100%;
  height: 100%;

  @media #{$xs-m} {
    padding: 50px 45px 25px;
  }

  & .ts-testimonial-quote {
    position: absolute;
    margin-top: -12px;
    margin-left: -20px;
  }

  & span {
    font-size: 20px;
  }

  & .ts-testimonial-info {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--ts-black);
    @media #{$xs-m} {
      margin-top: 50px;
    }
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      width: 42px;
      height: 4px;
      background: var(--ts-theme-color-2);
    }
    & .ts-testimonial-name-desig {
      & h5 {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
      }
      & span {
        font-size: 14px;
        margin: 0;
      }
    }
    & .ts-testimonial-pic {
      position: relative;
      margin-top: -5px;
    }
  }

  & .ts-testimonial-shape {
    position: absolute;
    left: 0;
    bottom: 10%;
    @media #{$xs-m} {
      left: 0;
      bottom: -2%;
    }
  }
}

.ts-testimonial-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  & img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  & .ts-testimonial-play-btn {
    position: absolute;
    z-index: 99999;
    top: 40%;
    left: 40%;
    transform: translate(50%, 50%);
    @media #{$xs-m} {
      top: 38%;
      left: 38%;
      transform: translate(50%, 50%);
    }
    @media (max-width: 375.98px) {
      top: 30%;
      left: 30%;
      transform: translate(50%, 50%);
    }
    &:hover {
      & i {
        background: var(--ts-theme-color-2);
        color: var(--ts-white);
      }
    }
    & i {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50px;
      text-align: center;
      background: var(--ts-theme-color);
      animation: animate-pulse 3s linear infinite;
      @include transition(0.3s);
    }
  }
}

.ts-testimonial-slider-arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  top: 4%;
  right: 0;
  @media #{$lg-m} {
    position: absolute;
    bottom: -84%;
    right: 50%;
    transform: translateX(50%);
  }
  @media #{$md-m} {
    position: absolute;
    bottom: -84%;
    right: 50%;
    transform: translateX(50%);
  }
  @media #{$xs-m} {
    position: absolute;
    bottom: -82%;
    right: 50%;
    transform: translateX(50%);
  }
  & .ts-swiper-testimonial-button-prev {
    & i {
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 60px;
      font-size: 18px;
      background: var(--ts-white);
      color: var(--ts-common-black);
      text-align: center;
      box-shadow: 0px 0px 13.6364px rgba(0, 0, 0, 0.1);
      margin: 10px;
      @include transition(0.3s);
      &:hover {
        color: var(--ts-theme-color-2);
      }
      @media #{$xs-m} {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        font-size: 16px;
      }
    }
  }
  & .ts-swiper-testimonial-button-next {
    & i {
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 60px;
      font-size: 18px;
      background: var(--ts-white);
      color: var(--ts-common-black);
      text-align: center;
      box-shadow: 0px 0px 13.6364px rgba(0, 0, 0, 0.1);
      margin: 10px;
      @include transition(0.3s);
      &:hover {
        color: var(--ts-theme-color-2);
      }
      @media #{$xs-m} {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        font-size: 16px;
      }
    }
  }
}
